<div class="store-details-cont">
    <mat-card class="example-card mat-elevation-z10 card">
        <mat-card-content class="content">
            <div class="shop">
                <div class="info-div">
                    <img class="img" src="../../../assets/common/noImage.png" />
                    <div class="shop-info">
                        <mat-card-title>{{this.shop?.name}}</mat-card-title>
                        <mat-label class="details">{{this.shop?.address + ", " + this.shop?.city?.city}}</mat-label>
                        <mat-label class="details"><mat-icon>email</mat-icon>{{this.shop?.email}}</mat-label>
                        <mat-label class="details"><mat-icon>phone</mat-icon>{{this.shop?.phone}}</mat-label>
                        <mat-label class="details">{{"Monday-Friday:  " + this.shop?.monFri}}</mat-label>
                        <mat-label class="details">{{"Saturday:  " + this.shop?.saturday}}</mat-label>
                        <mat-label class="details">{{"Sunday:  " + this.shop?.sunday}}</mat-label>
                    </div>
                </div>
                <div class="employee-div">
                    <mat-card-title style="margin-left: 10px;">Add employee</mat-card-title>
                    <div class="search">
                        <mat-form-field appearance="outline">
                            <input type="text" name="email" matInput placeholder="email@gmail.com" [formControl]="email" />
                            <mat-error>Fill username!</mat-error>
                        </mat-form-field>
                        <button class="button" mat-raised-button color="primary" (click)="addEmployee()"><mat-icon class="icon">add</mat-icon></button>
                    </div>
                    <div *ngFor="let employee of shop?.employees">
                        <div class="employee-list-item">
                            <mat-label>{{employee.email}}</mat-label>
                            <span style="cursor: pointer;" (click)="removeEmployee(employee.id)">X</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bouquet-offer">
                <div class="title-buttons">
                    <mat-card-title style="font-size: 22px;">Bouquet offer</mat-card-title>
                    <div> 
                        <button style="margin-right: 15px;" mat-raised-button color="accent" (click)="addBouquet()">Add bouquet</button>
                        <button mat-raised-button color="primary">Orders</button>
                    </div>
                </div>
                <mat-divider style="margin-bottom: 20px; margin-right: 30px;"></mat-divider>
                <div class="bouquet-list" *ngFor="let bouquet of this.bouquets$ | async">
                    <div class="one-item">
                        <app-bouquet [bouquet]="bouquet" (onClick)="delete(bouquet.id)"></app-bouquet>
                        <div>
                            <span class="button" (click)="edit(bouquet.id)"><mat-icon>edit</mat-icon></span>
                            <span style="cursor: pointer;" (click)="delete(bouquet.id)"><mat-icon>delete</mat-icon></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
</div>