<div class="my-stores-cont">
    <mat-card class="example-card mat-elevation-z10 card">
        <mat-card-header class="header">
            <mat-card-title class="title">My stores</mat-card-title>
            <button mat-raised-button color="accent" (click)="addShop()"><mat-icon>add</mat-icon></button>
        </mat-card-header>
        <mat-card-content *ngFor="let shop of this.stores$ | async" class="content">
            <div class="content-item">
                <img class="img" (click)="navigate('store-details/' + shop.id)" src="../../../assets/common/noImage.png" />
                <div class="content-item-info">
                    <div class="title-div">
                        <mat-card-title class="store-name" (click)="navigate('store-details/' + shop.id)">{{shop.name}}</mat-card-title>
                        <div>
                            <span class="button" (click)="editShop(shop.id)"><mat-icon>edit</mat-icon></span>
                            <span class="button" (click)="deleteShop(shop.id)"><mat-icon>delete</mat-icon></span>
                        </div>
                    </div>
                    <mat-label class="address" (click)="navigate('store-details/' + shop.id)">{{shop.address + ", " + shop.city.city}}</mat-label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>