.my-stores-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    min-width: 800px;
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 15px;
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-item {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
}

.img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.content-item-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-name {
    display: flex;
    cursor: pointer;
}

.button {
    cursor: pointer;
    margin-right: 10px;
}

.address {
    font-size: 15px;
    cursor: pointer;
}