<mat-card class="example-card mat-elevation-z10 card">
    <mat-card-header class="header">
        <mat-card-title class="title">{{this.city ? "Update city" : "Add new City"}}</mat-card-title>
        <span (click)="close()" style="cursor: pointer;"><mat-icon>close</mat-icon></span>
    </mat-card-header>
    <mat-card-content>
        <form class="form">
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input type="text" name="cityName" matInput required [formControl]="cityName"/>
                <mat-error>Fill address!</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="add()" class="button">{{this.city ? "Update" : "Add"}}</button>
        </form>
    </mat-card-content>
</mat-card>
