.login-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.margin-class {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 15px;
    font-size: 23px;
}

.form {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}