<div class="login-cont">
    <mat-card class="example-card mat-elevation-z10 margin-class">
        <mat-card-header>
            <mat-card-title class="title">Log in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" name="email" matInput required [formControl]="email"/>
                    <mat-error>Fill email!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" required/>
                    <button mat-icon-button matSuffix (click)="togglePassword1()">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error>Fill password!</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">Log in</button>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <span class="text" (click)="navigate('register')">You haven't an account?</span>
        </mat-card-footer>
    </mat-card>
</div>