<mat-toolbar color="primary" class="navbar">
    <span class="title" (click)="navigate('home')">Bouquet</span>
    <button mat-button [matMenuTriggerFor]="aboveMenu" class="nav-links">Admin</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item class="items" (click)="navigate('city-list')">City</button>
    <button mat-menu-item class="items" (click)="navigate('bouquet-type-list')">Bouquet type</button>
    </mat-menu>
    <div class="login-div">
        <span class="logged-text" (click)="navigate('login')" *ngIf="!this.user">Login</span>
        <span class="logged-text" *ngIf="!this.user"> / </span>
        <span class="logged-text" (click)="navigate('register')" *ngIf="!this.user">Register</span>
        <div class="user-div" *ngIf="this.user" mat-button [matMenuTriggerFor]="userMenu">
            <img class="img-navbar" mat-card-avatar src="../../../../../assets/common/defaultUser.png"/>
            <span class="logged-text" > @{{this.user.username}} </span>
        </div>
        <mat-menu #userMenu="matMenu" yPosition="above">
            <button mat-menu-item class="items" (click)="navigate('edit-profile')">Account</button>
            <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
    </div>
</mat-toolbar>