<div class="edit-profile-cont">
    <mat-card class="example-card mat-elevation-z10 card">
        <mat-card-header>
            <mat-card-title class="title">Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <form class="form">
                <div class="div-img div">
                    <img [src]="this.selectedImage ? this.imagePreview : imgPath + '/' + this.imagePreview" class="img"/>
                    <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()" style="margin-bottom: 15px;">
                        <span>{{this.user?.profilePicture ? 'Update image' : 'Upload image'}}</span>
                        <input #fileInput type="file" accept="image/*" multiple required (change)="handleSelectedFile($event)" style="display: none"/>
                    </button>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" name="username" matInput required [formControl]="username" />
                        <mat-error *ngIf="username.invalid">Fill username!</mat-error>
                    </mat-form-field>
                </div>
                <div class="div">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type="text" name="name" matInput required [formControl]="name"/>
                        <mat-error>Fill name!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input type="text" name="lastname" matInput required [formControl]="lastName"/>
                        <mat-error>Fill last name!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="text" name="email" matInput required [formControl]="email"/>
                        <mat-error>Fill email!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="text" name="phone" matInput required [formControl]="phone"/>
                        <mat-error>Fill phone!</mat-error>
                    </mat-form-field>
                </div>
                <div class="div">
                    <mat-form-field appearance="outline"> 
                        <mat-label *ngIf="this.selectedCity">{{this.selectedCity.city}}</mat-label>
                        <mat-select (selectionChange)="onCitySelectionChange($event)">
                            <mat-option *ngFor="let city of cities$ |async" [value]="city">{{city.city}}</mat-option>
                        </mat-select>
                        <mat-error>Choose city!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input type="text" name="Address" matInput required [formControl]="address"/>
                        <mat-error>Fill address!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="this.deliveryGuy">
                        <mat-label>JMBG</mat-label>
                        <input type="text" name="jmbg" matInput [formControl]="jmbg"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="this.deliveryGuy">
                        <mat-label>Vehicle for delivery</mat-label>
                        <input type="text" name="vehicle" matInput [formControl]="vehicle"/>
                    </mat-form-field>
                </div>
            </form>
            <mat-divider style="margin-bottom: 10px;"></mat-divider>
        </mat-card-content>
        <mat-card-footer class="button">
            <button mat-raised-button color="primary" class="button" (click)="save()">Save</button>
        </mat-card-footer>
    </mat-card>
</div>