.parent-div {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    width: 100%;
}

.img {
    height: 170px;
    width: auto;
}

.info-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 80px;
    width: 100%;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.info {
    font-size: 16px;
    margin-bottom: 3px;
}

.order {
    display: flex;
    flex-direction: row;
    margin-top:10px;
    align-items: center;
}

.input {
    width: 90px;
}

.button {
    margin-left: 10px;
    width: 80px;
    height: 45px;
}