.parent-div {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    width: 100%;
}

.img {
    width: 150px;
    height: auto;
}

.info-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 80px;
    width: 100%;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.button {
    margin-right: 10px;
    cursor: pointer;
}

.info {
    font-size: 16px;
    margin-bottom: 3px;
}